STYLUS_PROGRAM_ADDRESS=
VAULTPAY_CONTRACT_ADDRESS=
VITE_CONTRACT_ADDRESS=
VITE_CHAIN_ID=421614
VITE_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
VITE_APP_NAME=VaultPay
VITE_JOIN_FEE_WEI=2
PRIV_KEY_PATH=pk.keep
RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
